Flask==2.3.2
Flask-Cors
python-dotenv==1.0.0
langchain==0.3.1
langchain-cohere==0.3.0
langchain-community==0.3.1
langchain-core==0.3.6
langchain-experimental==0.3.1.post1
langchain-groq==0.2.0
langchain-text-splitters==0.3.0
faiss-cpu==1.8.0.post1
cohere==5.10.0
PyPDF2==3.0.1
tqdm==4.66.5
numpy==1.26.4
tenacity==8.5.0
requests==2.32.3
pypdf